* {
	margin:0;
	padding: 5px;
	border:0;
    vertical-align: middle;
}
/*The webpage background colour. Behind the containers */
body {
    background: white;
    
}

/* Gets rid of the line under hyper links */
a {
    text-decoration: none;
    color: black;
    font-family: "Times New Roman";
    font-weight: bold;
}

h1 {
    
    float: left;
    display: inline;

    padding-left: 50px;
/*    
    padding-right: 450px;*/
    color: black;
    font-size: 40px
    

}
h2 {
    padding: 20px;
    font-size:27px;
    font-weight: bold;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 30px;
    color: white;
}
h4 {
    padding: 2px;
    font-size:27px;
    font-weight: bold;
}

p {
    color: black;
    text-align: justify;
    font-size: 25px;
    padding: 5px;
} 
p2 {


    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p3 {
    display: inline;
    color: blue;
    font-size: 19px;
}
pre {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
}


ul{
    margin-left: 35px;  
}

table, th, td {
  border: 1px solid black;
}

section
{
    /* Stops the text running into the boxes bellow it */
    overflow: auto;
}



/*   Header   */
header
{
    margin: 0 auto;
    background-color: whitesmoke;
    position: sticky; 
    
    max-width: 1260px;
	min-width: 1200px; 
    max-height: 200px;
    min-height: 70px;
}




/*     BUTTONS    */
nav
{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    background-color: royalblue;
    text-align: center;
    position: sticky;
    min-width: 1200px;
    
}

#HomeButton
{
    
    margin: 0 auto;
	background-color: none;

    padding-left: 3%;
    padding-right: 3%;
    height: 35px;
	color: #000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
#Button2
{
    
    margin: 0 auto;
	background-color: none;
    /* border: 1px solid black; */

    padding-left: 3%;
    padding-right: 3%;
    height: 35px;
	color: #000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
#Button3
{
    
    margin: 0 auto;
	background-color: none;
    
    padding-left: 3%;
    padding-right: 3%;
    height: 35px;
	color: #000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}


/* End of Buttons Section*/







/*   BODY   */
#BodyContainer
{
    margin: 0 auto;
	padding: 10px;
	background-color: whitesmoke;
    
    
	max-width: 1260px;
	min-width: 1260px; 
    
    
	color:#000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


#TitleContainer{
    margin: 0;
    padding: 10px;

    display: block;
    text-align: center;
    background-color: darkblue;
    
}
/* End of Body */








#LeftWideBody{
    margin: 0;
    padding: 10px;

    display: inline-block;
    text-align: left;
    

    background-color: none;

    max-width: 67%;
    
}
#RightThinBody{
    margin: 0;
    padding: 10px;
    margin-right: 5px;
    margin-top: 10px;

    display: inline-block;
    text-align: left;
    
    

    background-color: none;
    float: right;
    /*
    border: 5px solid black;
    */
    vertical-align:super;
    max-width: 28%;


}











/* the design around the footer class */
footer{
	margin: 0 auto;
    padding: 10px;
	background-color:grey;
    max-width: 1260px;
	min-width: 1200px;
	color: #000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


















#BackToSkillsPage{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-width: 4px;
    
}










#GCHQ{
    float: right;
    transition: width 2s;
}
/*ANIMATION BELOW*/
#GCHQ:hover{
    width:500px;
}
#CyberImage{
    animation-name: cyberImage;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    
}
@keyframes cyberImage {
  from {left: 0px; top: 0px;}
  to {left: 800px; top: 0px}
}


h3 {
    animation-name: TitleColour;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    
}

@keyframes TitleColour {
  from {background-color: hotpink;}
  to {background-color: rebeccapurple;}
}
